.container{
  margin-top: 2rem;
  min-height: calc(100vh - 300px);
  width: 100%;
}

.wrapper{
  width: 85%;
  margin: 0 auto;
}

.wrapper > h2 {
  font-size: 32px;
  color: #222;
  letter-spacing: 1px; 
}